Eclipse-Workspace-LM/Tema1/Tema2/Hoja1/alumno.dtd

<!ELEMENT alumno (((nombre, apellidos)|(apellidos, nombre)), delegado?, optativa, claseId)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT delegado EMPTY>
<!ELEMENT optativa (cultura_clasica|teatro|informatica)>
<!ELEMENT cultura_clasica EMPTY>
<!ELEMENT teatro EMPTY>
<!ELEMENT informatica EMPTY>
<!ELEMENT claseId (#PCDATA)>
